<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="All_In_One"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.All_In_One"
        tools:targetApi="31">
        <activity
            android:name=".splash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fooddata.getdata"
            android:exported="false" />
        <activity
            android:name=".fooddata.order"
            android:exported="false" />
        <activity
            android:name=".fooddata.drinks"
            android:exported="false" />
        <activity
            android:name=".fooddata.nonvag"
            android:exported="false" />
        <activity
            android:name=".fooddata.vag"
            android:exported="false" />
        <activity
            android:name=".fooddata.fdata"
            android:exported="false" />
        <activity
            android:name=".V_A_player.avplayer"
            android:exported="false" />
        <activity
            android:name=".C_C_T_view.CCTView"
            android:exported="false" />
    <!--    <activity
            android:name=".L_C_C_view.LCCactivity"
            android:exported="false" />
        <activity
            android:name=".calculator.calculator"
            android:exported="false" />-->
        <activity
            android:name=".R_S_L.S_R_L_View"
            android:exported="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>